.content {
    margin: auto;
    max-width: 915px;
    font-size: 17px;
    /* padding: 0 8%; */
}

.content h1 {
    text-align: center;
    font-size: 30px;
}

.content h3 {
    font-size: 17px;
} 

table {
    width: 100%;
    border-spacing: 3px;
    /* border: 2px solid gray; */
}

td, th {
    padding: 10px;
}

td {
    border-bottom: 1px solid rgb(228, 228, 228); /* Линия снизу */
}
